@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');


:root
{
  /* color pallet variables */

  --COLOR-graphite_black_001: rgb(0, 0, 0, 0.69);
  --COLOR-neon_GREEN_002: rgb(141, 255, 166, 1);
  --COLOR-neon_RED_003: rgb(255, 130, 130, 1);
  --COLOR-fresh_purple_004: rgb(120, 56, 255, 1);
  --COLOR-calm_pink_005: rgb(255, 191, 191, 1);
  --COLOR-carbon_black: rgb(73, 73, 73, 1);
  --COLOR-SECONDARY_fresh_purple: rgb(113, 57, 203, 1);

  /* typography */
  --FONT-fira_code: font-family: 'Fira Code', monospace;
  --FONT-ibm_sans: font-family: 'IBM Plex Sans Arabic', sans-serif;
  --FONT-nunito_sans:font-family: 'Nunito Sans', sans-serif;
  --FONT-red_hat:font-family: 'Red Hat Mono', monospace;
  --FONT-ubuntu_mono:font-family: 'Ubuntu Mono', monospace;

  /* borders */
  --generic_BORDER: border 1px solid black;
  --transparent_BORDER: border 0px solid transparent;

  /* linear-gradients */
  --GRADIENT-001: linear-gradient(to right top, #6348e7, #6448e2, #6448de, #6548d9, #6548d5, #6649d4, #6649d2, #674ad1, #694cd2, #6a4ed4, #6c4fd5, #6d51d6);  

  /* UPON HOVER */
  --HOVER-translate_button-001: rgb(149, 91, 241);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a 
{
  text-decoration: none;
  list-style-type: none;
}

.navigation 
{
  height: 20vh;
}

/* navigation layout */
.navigation .nav_items  
{
  display: flex;
  margin-inline-start: 5rem;
  margin-inline-end: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

/* STYLE RESET for links */
ul a
{
  text-decoration: none;
  list-style-type: none;
}

.logo_as_link
{
  padding: 0.5rem;
  border-radius: 50px;
  background-color: var(--COLOR-graphite_black_001);
  color: var(--COLOR-neon_RED_003);
  font-size: 1.3rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: bold;
}

.logo_as_link span
{
  color: var(--COLOR-neon_GREEN_002);
}

.translate_button
{
  padding: 0.30rem 0.5rem;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: bold;
  background-color: var(--COLOR-SECONDARY_fresh_purple);
  transition: 300ms ease-in-out;
}

.translate_button:hover
{
  cursor: pointer;
  background-color: var(--HOVER-translate_button-001);
}

@media screen and (max-width: 425px)
  {
    a[class = "logo_as_link"]
    {
      padding: 0.6rem 1.1rem;
      font-size: 1.1rem;
      align-items: center;
    }

    .translate_button
    {
        display: none;
    }
  }