@import url(/stylesheets/navigation.css);

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li 
{
  text-decoration: none;
  list-style-type: none;
}

a
{
    text-decoration: none;
}

:root
{
  /* color pallet variables */

  --COLOR-graphite_black_001: rgb(0, 0, 0, 0.69);
  --COLOR-neon_GREEN_002: rgb(141, 255, 166, 1);
  --COLOR-neon_RED_003: rgb(255, 130, 130, 1);
  --COLOR-fresh_purple_004: rgb(120, 56, 255, 1);
  --COLOR-calm_pink_005: rgb(255, 191, 191, 1);
  --COLOR-carbon_black: rgb(73, 73, 73, 1);
  --COLOR-SECONDARY_fresh_purple: rgb(113, 57, 203, 1);

  /* typography */
  --FONT-fira_code: font-family: 'Fira Code', monospace;
  --FONT-ibm_sans: font-family: 'IBM Plex Sans Arabic', sans-serif;
  --FONT-nunito_sans:font-family: 'Nunito Sans', sans-serif;
  --FONT-red_hat:font-family: 'Red Hat Mono', monospace;
  --FONT-ubuntu_mono:font-family: 'Ubuntu Mono', monospace;

  /* borders */
  --generic_BORDER: border 1px solid black;
  --transparent_BORDER: border 0px solid transparent;

  /* linear-gradients */
  --GRADIENT-001: linear-gradient(to right top, #6348e7, #6448e2, #6448de, #6548d9, #6548d5, #6649d4, #6649d2, #674ad1, #694cd2, #6a4ed4, #6c4fd5, #6d51d6);  

    /* UPON HOVER */
  --HOVER-translate_button-001: rgb(149, 91, 241);
}

body
{
  line-height: 1.5;
  background-image: radial-gradient(circle, #9682f6, #a391f8, #af9ffa, #bcaefc, #c8bdfd);
}

/* width */
::-webkit-scrollbar 
{width: 15px;}

/* Track */
::-webkit-scrollbar-track 
{background-color: rgb(217, 217, 217);}

/* Handle */
::-webkit-scrollbar-thumb 
{
  background: gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{background: rgb(83, 83, 83);}

.main_title
{
    display: flex;
    justify-content: center;
    margin: 4rem 0rem 5rem 0rem;
}

.main_title p
{
    font-size: 2.4rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: bolder;
}

.main_title
{
    display: flex;
    justify-content: center;
    margin: 4rem 0rem 5rem 0rem;
}

.main_title p
{
    font-size: 2.4rem;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: bolder;
}

.guideline_tiles
{
    display: flex;
    flex-direction: column;
}

.genesis_ALL
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start:12rem;
    margin-inline-end: 12rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid rgb(233, 131, 131); */
    background-color: rgb(120, 79, 255);
}

.genesis_ALL p
{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    color: rgb(224, 224, 224);
}

.genesis_ALL ul
{
    color: rgb(44, 44, 44);
    font-family: 'Fira Code', monospace;
    background-color: rgb(221, 211, 255);
}

.gdl_box-ONE p
{
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
    
}

.gdl_box-ONE ul 
{
    flex: 1;
    margin-inline-start: 1rem;
    padding-inline-start: 1rem;

}

.gdl_box-TWO p
{
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
}

.gdl_box-TWO ul 
{
    flex: 1;
    margin-inline-start: 1rem;
    padding-inline-start: 1rem;
;
}

.gdl_box-THREE p
{
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
}

.gdl_box-THREE ul 
{
    flex: 1;
    margin-inline-start: 1rem;
    padding-inline-start: 1rem;

}

.gdl_box-FOUR p
{
    flex: 1;
    text-align: center;
    font-size: 1.8rem;
}

.gdl_box-FOUR ul 
{
    flex: 1;
    margin-inline-start: 1rem;
    padding-inline-start: 1rem;
}



.call_for_action
{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    /* margin-inline-end: 12rem; */
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}

.proceed_bttn  a
{
    background-color: rgb(95, 65, 215);
    border-radius: 10px;
    padding: 0.8rem 1.4rem;
    font-size: 1.35rem;
    color: rgb(230, 230, 230);
    font-family: 'Fira Code', monospace;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 300ms;

}

.proceed_bttn a:hover
{
    background-color: rgb(74, 49, 217);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    @media screen and (max-width:884px) 
    {
        .main_title p
        {
            font-size: 2.3rem;
        }

        .genesis_ALL
        {
            margin-inline-start:7rem;
            margin-inline-end: 7rem;
            margin-bottom: 2rem;
        }
        

        .gdl_box-ONE p
        {
            font-size: 1.5rem;
        }

        .gdl_box-TWO p
        {
            font-size: 1.5rem;
        }
        .gdl_box-THREE p
        {
            font-size: 1.5rem;
            margin-inline-start: 1rem;
        }
        .gdl_box-FOUR p
        {
            font-size: 1.5rem;
        }
        
        
    }

    @media screen and (max-width: 642px)
    {
        .main_title p
        {
            font-size: 1.9rem;
        }

        .navigation .nav_items  
        {
        margin-inline-start: 3rem;
        }


        .logo_as_link
        {
          padding: 0.25rem 0.4rem;
          font-size: 1.2rem;
        }


    }

    @media screen and (max-width: 530px) 
    {
        .main_title p
        {
            font-size: 1.75rem;
        }

        .genesis_ALL
        {
            margin-inline-start:4rem;
            margin-inline-end: 4rem;
            margin-bottom: 2rem;
        }

        .call_for_action
        {
            justify-content: center;
        }

    }

    @media screen and (max-width: 425px) 
    {
        .main_title
        {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        .main_title p
        {
            font-size: 1.4rem;
        }
    }

    @media screen and (max-width: 375px)
    {

        .navigation
        {
            background-color: gray;
        }

        .navigation .nav_items  
        {
        margin-inline-start: 2rem;
        }

        .logo_as_link
        {
          padding: 0.3rem 0.45rem;
          font-size: 1.1rem;
        }

        .main_title p
        {
            font-size: 1.2rem;
        }

        .genesis_ALL
        {
            margin-inline-start:3rem;
            margin-inline-end: 3rem;
            margin-bottom: 2rem;
        }
        

        .gdl_box-ONE p
        {
            font-size: 1.3rem;
        }

        .gdl_box-TWO p
        {
            font-size: 1.3rem;
        }
        .gdl_box-THREE p
        {
            font-size: 1.3rem;
            margin-inline-start: 1rem;
        }
        .gdl_box-FOUR p
        {
            font-size: 1.3rem;
        }
    }

    @media screen and (max-width: 320px)
    {
        .navigation
        {
            background-color: gray;
        }

        .navigation .nav_items  
        {
        margin-inline-start: 2rem;
        }

        .logo_as_link
        {
          padding: 0.3rem 0.45rem;
          font-size: 1rem;
        }

        .main_title
        {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .main_title p
        {
            text-align: center;
            font-size: 1.5rem;
        }

        .genesis_ALL
        {
            margin-inline-start:1rem;
            margin-inline-end: 1rem;
            margin-bottom: 2rem;
        }
        

        .gdl_box-ONE p
        {
            font-size: 1.3rem;
        }

        .gdl_box-TWO p
        {
            font-size: 1.3rem;
        }
        .gdl_box-THREE p
        {
            font-size: 1.3rem;
            margin-inline-start: 1rem;
        }
        .gdl_box-FOUR p
        {
            font-size: 1.3rem;
        }
    }